@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
   
}

body{
    background: linear-gradient(112.72013189013455deg, rgba(248, 198, 215,1) 4.927083333333334%,rgba(175, 233, 249,1) 97.84374999999999%);
}

h5{
    padding: 1em 0 0.3em;
    font-size: 18px;
}

ul{
    margin-top: 1em;
    list-style: none;
}

#listItemTitle {
    padding-bottom: 0;
}

label:not(.emailForm){
   padding-left: 0.1em;
    font-size: 18px;
}

input[type=text], input[type=email], input[type=number]{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    transition: 0.5s;
    border: 0;
    border-bottom: 2px solid lightgray;
    width: 33%;
    padding: 0.3em 0 0.3em 0.4em;
}

input[type=email]{
    width: 44%;
    margin-left: 0.3em;
}


input[type=radio]:focus{
    outline: none;
    background-color: #1cb3e0de;
}

input[type=text]:focus,input[type=email]:focus ,input[type=number]:focus {
    outline: none;
    padding-bottom: 0.5em;
}

input[type=text]::placeholder{
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    font-size: 16px;
    color: #b3aeae;
}

input[type=text]:focus::-webkit-input-placeholder {
  color: transparent
}

input[type=text]:focus::-moz-placeholder {
  color: transparent
}

input[type=text]:focus:-moz-placeholder {
  color: transparent
}

input[type=text]:focus:-ms-input-placeholder {
  color: transparent
}

input[type=submit], button{
    transition: 1s;
    border: 0;
    cursor: pointer;
    padding: 1em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #1cb3e0de;
    box-shadow: inset 0 -0.6em 0 -0.35em rgb(0 0 0 / 17%);
    text-align: left;
    letter-spacing: 1px;
    font-family: system-ui;
}

input[type=submit]:focus{
    outline: none;
    transform: scale(1.1);
}

.container{
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3em auto;
    background-color: #fff;
    font-family: 'Manrope';
    border-radius: 30px;
    box-shadow: 0px 8px 40px #d0cbd8;
}

.mailWrap{
    display: flex;
}

.neccessary{
    font-size: 18px;
    color: #d83631;
}

.queryform{
    padding: 1em 0;
}

.description{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-bottom: 1em;
}

#familyCounterButton{
    padding: 0.5em;
    margin-left: 1em;
}

.submitForm {
    display: flex;
    justify-content: left;
    padding-top: 1em;
}

.wrapper{
    padding: 2em 3em;
}

@media all and (max-width: 1200px){
    .container{
        max-width: 48em;
    }
}

@media all and (max-width: 900px){
    input[type=email]{
        width: 75%;
        margin-left: 0;
    }

    .mailWrap{
        flex-direction: column;
    }

    .container{
        max-width: 560px;
        margin: 3em auto;
    }
    .description{
        font-size: 16px;
    }

}

@media all and (max-width: 600px){
    h5{
        font-size: 20px;
    }
    .description{
        font-size: 17px;
    }
    .wrapper{
        padding: 2em 1em;
    }
    .container{
        max-width: fit-content;
        margin: 0 auto;
        border-radius: 0;
    }
    .submitForm{
        justify-content: center;
    }
}

